dataset/
Dublin_combine_clean/
Synthetic_v3_InstanceSegmentation/
data_annotated_new/
HAIS/
SoftGroup
__pycache__/
hello.py~
output_prepare_data.txt
output.txt
preprocessing.ipynb
test.txt
lib/hais_ops/HAIS_OP.egg-info/
lib/hais_ops/build/
lib/hais_ops/HAIS_OP.cpython-36m-x86_64-linux-gnu.so
lib/hais_ops/HAIS_OP.cpython-38-x86_64-linux-gnu.so
lib/spconv/build/
lib/spconv/dist/
lib/spconv/spconv.egg-info/
backup/
util/__pycache__
model/__pycache__
